.est{
    background-color: red;
    color: yellow;
}

.barca {
    background-color: purple;
    color: darkblue;
}

.milan{
    background-color: red;
    color: black;
}

.last{
    background-color: brown;
    color: cornflowerblue;
}